// common
$--color-primary: #1a71ff;
$--color-warning: #ff8400;
$--color-danger: #ff4747;
$--color-success: #00bc88;
$--color-text-primary: #222;
$--border-color-base: #ebebeb;
// red
$theme-red:(1:#E8524E,2:#D63531)